big {
    font-size: 130% ;
}

screenM {
    width: 40% ;
}

/* @media only screen and (max-width: 768px) {
    screenM {
        width: 90% ;
    }
}
 */
@media (min-width: 769px) {
    .cover {
        width: 40% ;
    }

    .screenM {
        width: 48% ;
    }

    .mflex {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 90% ;
    }
}  

.header-hero {
    background-image: url('assets/img/bg.jpg');
}